:root {
    --fg: rgb(30, 35, 60);
    --btn-disabled-color: rgb(88, 85, 120);
    --btn-enabled-color: rgb(230, 230, 235);
}

.hightlights-area-wrapper {
    background-color: rgb(16, 14, 29);
    justify-content: center;
    display: flex;
    color: white;
    width: 70%;
}

.temperature-kind-wrapper {
    justify-content: flex-end;
    padding-top: 40px;
    padding-right: 45px;
    display: flex;
    width: 100%;
}

.temperature-kind-wrapper button {
    background-color: rgb(90, 85, 120);
    border-radius: 50%;
    color: white;
    margin-left: 5px;
}

.temperature-kind-wrapper button:disabled {
    background-color: rgb(230, 230, 235);
    color: black;
}

.daily-weather-div {
    display: flex;
}

.weather-wrapper {
    /*same value as --te-bg-color*/
    background-color: var(--fg); 
    text-align: center;
    flex-grow: 5;
    margin: 5px;
}

.daily-weather-content {
    max-width: 90%;
    width: 100%;
}

.daily-weather-content h1 {
    font-size: x-large;
}

.highlights {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.highlight {
    background-color: var(--fg);
    text-align: center;
    width: 80%;
    /* height: fit-content; */
}

.highlight .sufix {
    font-size: x-large;
    margin-top: 0;
    margin-bottom: 0;
    /* padding-bottom: 0px; */
}

.highlight .prefix {
    font-size: xx-large;
}

.weather-temp {
    display: flex;
}

.weather-temp p {
    flex-grow: 2;
}

.compass-wrapper {
    display: flex;
    justify-content: center;
}

.compass {
    width: 8%;
}

.gauge-wrapper {
    font-size: small;
    /* height: 20px; */
}

.gauge-labels {
    display: flex;
    justify-content: space-between;
}

.gauge {
    background-color: white;
    border-radius: 50px;
    height: 10px;
}

.gauge-inside {
    /* background: linear-gradient(90deg, yellow 100%, white 0%); */
    background-color: yellow;
    border-radius: 50px;
    height: 10px;
}

.gauge-percent-label {
    text-align: end;
}
