:root {
    --fg: rgb(30, 35, 60);
    --btn-disabled-color: rgb(88, 85, 120);
    --btn-enabled-color: rgb(230, 230, 235);
}

.hightlights-area-wrapper {
    background-color: rgb(16, 14, 29);
    justify-content: center;
    display: flex;
    color: white;
    width: 70%;
}

.temperature-kind-wrapper {
    justify-content: flex-end;
    padding-top: 40px;
    padding-right: 45px;
    display: flex;
    width: 100%;
}

.temperature-kind-wrapper button {
    background-color: rgb(90, 85, 120);
    border-radius: 50%;
    color: white;
    margin-left: 5px;
}

.temperature-kind-wrapper button:disabled {
    background-color: rgb(230, 230, 235);
    color: black;
}

.daily-weather-div {
    display: flex;
}

.weather-wrapper {
    /*same value as --te-bg-color*/
    background-color: var(--fg); 
    text-align: center;
    flex-grow: 5;
    margin: 5px;
}

.daily-weather-content {
    max-width: 90%;
    width: 100%;
}

.daily-weather-content h1 {
    font-size: x-large;
}

.highlights {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.highlight {
    background-color: var(--fg);
    text-align: center;
}

.highlight .text {
    font-size: x-large;
}

.highlight span {
    font-size: xx-large;
}

.weather-temp {
    display: flex;
}

.weather-temp p {
    flex-grow: 2;
}


.compass-wrapper {
    display: flex;
    justify-content: center;
}

.compass {
    width: 8%;
}

.gauge-labels {
    display: flex;
    justify-content: space-between;
}

.gauge {
    background-color: white;
    border-radius: 50px;
}

.gauge-inside {
    /* background: linear-gradient(90deg, yellow 100%, white 0%); */
    background-color: yellow;
    border-radius: 50px;
}

.gauge-percent-label {
    text-align: end;
}

@media (max-width: 600px) {
   
    .hightlights-area-wrapper {
        width: 100vh;
    }

    .temperature-kind-wrapper {
        display: none;
    }
    
    
    .temperature-kind-wrapper button {
        /* display: block; */
    }
    
    .temperature-kind-wrapper button:disabled {
        /* display: block; */
    }


    .daily-weather-content {
        margin-top: 40px;
    }

    .daily-weather-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .weather-wrapper {
        width: 90%;
    }

    .highlights {
        display: block;
        padding-bottom: 5em;
    }
    
    .highlight {
        width: 20em;
        margin: 0 auto;
        padding-bottom: 5%;
    }

    .highlight p span {
        font-size: xxx-large;
    }
    
    .highlight .text p {
        font-size: xx-large;
    }
}
