body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-screen-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  
  
}
@media (max-width: 600px) {
  body {
		margin: 0;
		width: 100%;
	}

.main-screen-wrapper {
    display: block;
    /* height: 100%; */
    /* display: table;
    width: 100%; */
  }
}