@media (max-width: 600px) {
    body {
		width: 100%;
        overflow-x: hidden;
	}

    .main-screen-wrapper {
        display: block;
    }
    
    .today-weather-info-wrapper {
        width: 100vh;
        height: 40vh;
    }
    
    .today-weather-wrapper {
        width: 100vh;
        height: 100vh;
        background-size: 30%;        
    }

    .today-weather-wrapper form {
        width: 86%;;
    }

    .today-weather-btn today-weather-gps-btn {
        margin-right: 200px;
    }

    .today-weather-search-loc-wrapper {
        width: 86%;
    }

    .today-weather-image {
        height: 200px;
    }

    .today-weather-temperature-number {
        font-size: 5em;
    }

    .today-weather-temperature-sign {
        font-size: 2em;
    }

    .today-weather-climate{
        font-size: 1.5em;
    }

    .today-weather-time-date {
        font-size: 1em;
    }

    .today-weather-location-div {
        display: flex;
        justify-content: center;
    }

    .hightlights-area-wrapper {
        width: 100%;
    }

    .temperature-kind-wrapper {
        display: none;
    }

    .daily-weather-content {
        margin-top: 40px;
    }

    .daily-weather-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .weather-wrapper {
        width: 90%;
    }

    .highlights {
        display: block;
        padding-bottom: 5em;
    }
    
    .highlight {
        width: 20em;
        margin: 0 auto;
        padding-bottom: 5%;
    }

    .highlight .prefix {
        font-size: xxx-large;
    }
    
    .highlight .sufix {
        font-size: xx-large;
    }
}